<section class="charts-section">
    <div class="chart-container">
      <div class="chart-header">
        <h3>Users Activity</h3>
        <p-button
          label="Monthly"
          [outlined]="true"
          size="small"
          styleClass="chart-button">
        </p-button>
      </div>
      <div class="chart-placeholder">
        <div class="chart-content">
          <i class="pi pi-arrow-right"></i>
          <span>Chart Here</span>
          <i class="pi pi-arrow-left"></i>
        </div>
      </div>
    </div>

    <div class="chart-container">
      <div class="chart-header">
        <h3>Revenue Trend</h3>
        <p-button
          label="Monthly"
          [outlined]="true"
          size="small"
          styleClass="chart-button">
        </p-button>
      </div>
      <div class="chart-placeholder">
        <div class="chart-content">
          <i class="pi pi-arrow-right"></i>
          <span>Chart Here</span>
          <i class="pi pi-arrow-left"></i>
        </div>
      </div>
    </div>
  </section>
